In [1]:
import pandas as pd
import numpy as np

In [4]:
churn_proba = pd.read_csv('../data/tableau_data/churn_proba.csv')
full_data = pd.read_csv('../data/fill_data/full_data.csv')

print("churn_proba.shape: ", churn_proba.shape)
print("full_data.shape: ", full_data.shape)

churn_proba.shape:  (115059, 1)
full_data.shape:  (115059, 85)

#### set label

In [3]:
def set_label(prob):
    if prob < 0.2:
        return "UnderTwo"
    elif (0.2 <= prob) & (prob < 0.4):
        return "TwotoFour"
    elif (0.4 <= prob) & (prob < 0.6):
        return "FourtoSix"
    elif (0.6 <= prob) & (prob < 0.8):
        return "SixtoEight"
    else:
        return "OverEight"

In [11]:
churn_proba.columns = ['prob']

In [13]:
churn_proba['churn_label'] = churn_proba.prob.apply(set_label)

In [15]:
churn_proba['num'] = 1

In [16]:
churn_proba

            prob churn_label  num
0       0.791554  SixtoEight    1
1       0.829057   OverEight    1
2       0.749934  SixtoEight    1
3       0.384220   TwotoFour    1
4       0.718923  SixtoEight    1
...          ...         ...  ...
115054  0.622695  SixtoEight    1
115055  0.788018  SixtoEight    1
115056  0.818909   OverEight    1
115057  0.827668   OverEight    1
115058  0.549302   FourtoSix    1

[115059 rows x 3 columns]

#### rfm

In [23]:
full_data[['E1', 'C2_m3', 'C1_m3']] # recency, frequency, monetary

         E1  C2_m3       C1_m3
0       965    2.0    50024.17
1       368    7.0   420114.56
2       199    2.0    67007.14
3       120    1.0      610.81
4        40    1.0     4781.40
...     ...    ...         ...
115054  267    2.0    20000.21
115055   54    2.0    50003.17
115056   34    2.0    80002.53
115057   39    2.0   200010.95
115058  859    1.0  1025322.07

[115059 rows x 3 columns]

In [25]:
tableau_data = pd.concat([churn_proba, full_data], axis = 1)

In [27]:
tableau_data.to_csv('../data/tableau_data/tableau_data.csv', index = None)